<% layout("emptyLayout") %>
<script type="text/javascript" rel="stylesheet" src="/javascript/jquery-1.12.2.js"></script>
<script>
 $(function(){
    var str=("<%= realContent %>");
    var codeStr;
    //在匹配之前，得先把本来就是代码的部分提取出来，否则经过下面的正则表达式之后会被当作html标签显示vb 
    codeStr=str.match(/&lt;cc&gt;(.)*[^&lt;cc&gt;](.)*&lt;\/cc&gt;/g);
    str=str.replace(/(&lt;)/g,"<");
    str=str.replace(/(&gt;)/g,">");
    str=str.replace(/(&quot;)/g,"\"");
    str=str.replace(/(&apos;)/g,"\'");
   // str=str.replace(/(&amp;nbsp;)/g," ");
    if(codeStr!=null){
    for(var i=0;i<codeStr.length;i++){
str=str.replace(/<cc>(.)+[^<cc></cc>](.)+<\/cc>/,codeStr[i].substring(codeStr[i].indexOf("&gt;")+4,codeStr[i].lastIndexOf("&lt;")).replace(/(&lt;br&gt;&amp;nbsp;&amp;nbsp;)/g,"<br>").replace(/(&amp;nbsp;)/g," "));
    }
    }
   $(".p1").html(str);
 });
</script>
<p><%= realTitle %></p>
<div class="p1"></div>
<p><%= realTags %></p>

